/* <!-- ----------------------------REGLES GENERALES------------------------------ --> */

@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,500,600,700|Montserrat:300,400,500,600,700,800&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@font-face {
	font-family: 'icomoon';
  src:url('../assets/fonts/icomoon/icomoon.eot');
	src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff') format('woff'),
		url('../fonts/icomoon/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --color-violet:#5352ED;
    --color-blue:#80CFE6;
    --color-dark-blue:rgb(43, 159, 194);
    --color-grey:#ECF0F1;
    --color-dark-grey:#2C3E50;
    --color-footer:#2D2D80;
    --color-grey-medium:#ACACAC;
    --color-pink:rgb(189, 7, 131);
    --color-dark-pink:#F736BB;

}

.no-margin {
    margin: 0;
}

p, label{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1px;
  font-weight: 300;
  color: var(--color-grey-medium);
  margin-bottom: 40px;;
}

h1{
  font-family: "EB Garamond",serif;
  letter-spacing: 0.5rem;
  font-size: 50px !important;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  font-family: "EB Garamond", serif;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 30px;
}

h3{
  font-family: 'Montserrat',sans-serif;
  font-size: 20px !important;
  font-weight: bold !important;
  text-align: center;
  color:var(--color-dark-grey);
  text-transform: uppercase;
  letter-spacing: 2px;
}

h4{
  font-family: 'Montserrat',sans-serif;
  font-size: 12px !important;
  text-align: center;
  font-weight: 500 !important;
  color:var(--color-dark-grey);
  text-transform: uppercase;
  letter-spacing: 2px;
}

h5{
  font-family: 'Montserrat',sans-serif;
  font-size: 18px;
  text-align: center;
  color:var(--color-dark-grey);
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 30px;
}

.article_title{
  font-size: 18px !important;
  text-transform: none;
  text-align: left;
}

ul{
  padding:0;
}

.filet{
  width: 76px;
  height: 14px;
  background: var(--color-violet);
  margin-top: 40px;
  margin-bottom: 30px;
}

.filet-fin{
  width: 40px;
  height: 8px;
  background: var(--color-violet);
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.filet-fin-blanc{
  width: 40px;
  height: 8px;
  background: white;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.email a {
    
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
a{
  text-decoration: none !important;
}
a:hover{
  color:white !important;
}

.form-control{
  background :var(--color-grey) !important;
  border-radius:30px !important;
  border:0 !important;
  text-transform: uppercase;
  font-family: 'Montserrat',sans-serif;
  font-size: 12px !important;
  font-weight: 500 !important;
  color:var(--color-dark-grey);
  letter-spacing: 2px;
  padding: 25px !important;
  
}
/* MENU BURGER


/* The Overlay */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden; 
  }

.fa-bars{
    color: white;
    font-size: 2rem;
    position: absolute;
    right: 20px;
    margin-top: 15px;
    cursor: pointer;
    display:none;
  }
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center; 
    margin-top: 30px; 
  }

  .overlay a {
    padding: 8px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 36px;
    padding-top: 30px;
    color: #ffffff;
    display: block; 
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: rgb(66, 66, 66);
  }
  
  .overlay .closebtn {
    color: white;
    position: absolute;
    right: 0;
    top: 0; 
    font-size: 2rem;
  }
  

  /* Fonctionnement du bouton avec survol */
  .btn {
    border-radius: 30px !important;
    text-decoration: none!important;
    color: white !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px!important;
    text-transform: uppercase;
    letter-spacing: 2px!important;
    cursor: pointer!important;
    display: inline-block;
    padding: 15px 80px!important;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
   
}
  .btn-primary{
    background: var(--color-violet)!important;
    border: 0 !important;
  }
  .btn-primary:hover{
    background: var(--color-footer) !important;
  }
  .btn-secondary{
    background: var(--color-blue)!important;
    border: 0 !important;
  }
  .btn-secondary:hover{
    background: var(--color-dark-blue) !important;
  }
  .btn-danger{
    background: var(--color-pink) !important;
    border: 0 !important;
  }
  .btn-danger:hover{
    background: var(--color-dark-pink) !important;
    border: 0 !important;
  }

  .btn-delete{
    margin-bottom: 30px;
  }

  .btn:after {

    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .icon-arrow-right:before {
    font-family: 'Icomoon';
    content: "\e00d";
  }

  .btn-4 {
    overflow: hidden;
  }

  .btn-4:active {
    border-color: var(--color-violet);
    color: var(--color-violet);
  }

  /* .btn-4:hover {
    background: var(--color-footer) !important;
    
  } */
  .btn-4:before {
    position: absolute;
    height: 100%;
    font-size: 125%;
    line-height: 2.8;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .btn-4:active:before {
    color: var(--color-violet);
  }

  .btn-4c:before {
    left: 80%;
    opacity: 0;
    top: 0;
  }

  .btn-4c:hover:before {
    left: 85%;
    opacity: 1;
  }

  th,td{
    text-align:left;
}
  .show_h4{
    text-align: left;
  }

  .col-form-label{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
   

  }
  /* ----------Breadcrumb---------- */


  .breadcrumb {
    
    padding:0 !important;
    margin-bottom: 0 !important;
    list-style: none;
    background: none !important;
    border-radius: 0 !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 13px !important;
    line-height: 26px !important;
    letter-spacing: 1px !important;
    font-weight: 300 !important;
    text-transform: none !important;
    }
    .breadcrumb-item a{
        color:var(--color-blue) !important;
    }
    .breadcrumb-item a:hover{
        color:var(--color-violet) !important;
    }
    .breadcrumb-item.active {
    color: var(--color-grey-medium) !important;
    }
    .breadcrumb-item+.breadcrumb-item::before {
      display: inline-block;
      padding-right: .5rem;
      color:var(--color-grey-medium) !important;
      content: ">"!important;
  }
  @media(max-width:768px){
    .field_hidden{
        display:none;
    }
  }
  @media(max-width:992px){
    .breadcrumb_page {
      display: flex;
      justify-content: center;
    }
    .article, .portfolio, .cv{
      background-image: none !important; 
    }
    .btn{
      padding:15px 50px !important;
    }
  }

  .alert-success {
    text-align: center;
}
  /* <!-- ----------------------------HEADER------------------------------ --> */

  .header{
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat:no-repeat;
    display: flex;
    position: relative;
  }
  .header_content_titre .filet{
    margin-top:50px;
    margin-right: auto;
    margin-left: auto;
}
  .header-title{
      height: 100%;
  }
  .logo-header img{
    width: 80%;
}

  .navbar {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
  }

  .navbar a{
    text-decoration: none;
    color: white; 
  }

  .reseaux-sociaux{
    display: flex;
    list-style: none;
  }

  .reseaux-sociaux a{
    padding-right: 10px;
  }

  .menu{
    display: flex;
    list-style: none;
  }

  .menu a{
    margin-left: 46px;
    padding-bottom: 10px;
    font-family: "Montserrat", serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 5px;
  }
  .menu span{
    letter-spacing: 0;
  }

  .menu a:hover {
    border-bottom: 3px solid #fff
  }
  
  .header_content_titre{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 100%;
  }

  @media (max-width:992px){

    .menu a{font-size: 12px; margin-left: 20px;}
   
    .header_content_titre h1{
        letter-spacing: 0.5rem;
        font-size: 30px;
        font-weight: 600;
    }
    
    .header_content_titre img{
        margin-top: 50px;
    }
  }
  @media (max-width:992px){

    .menu a{font-size: 12px; margin-left: 20px;}
   
    .header_content_titre h1{
        letter-spacing: 0.5rem;
        font-size: 30px;
        font-weight: 600;
    }
    
    .header_content_titre img{
        margin-top: 50px;
    }
  }
  @media (max-width:768px){
    
    .fa-bars{
      display:block
    }

    .header{
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .overlay a {font-size: 30px}
    .overlay{display: block}
    .menu a{display: none}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
    .email a {
  
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      visibility: hidden;
  }
  }


  /* <!-- ----------------------------ARTICLE------------------------------ --> */


.article{
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
  width: 100%;
  background-position: center top;
  background-repeat:no-repeat;

}

.article_content_titre{
  margin: auto 0;

}

.article_content_titre p{
  color: var(--color-grey-medium);
  margin-bottom: 40px;
}
.article_content_titre .btn{
  margin-bottom: 10px;
 
}

.article_content_photo{
  
  width: 556px;
  display: flex;
  align-items: center;
  display: table;
  margin:auto 0;
}

.article_content_photo img{
 width: 100%;
 height: auto;

}

.rect-haut-prez{
  position: absolute;
  top: -3px; right: 218px;
}

.rect-bas-prez{
  position: absolute;
  top: 557px; right: 450px;
}

#article_content_titre {
  visibility: hidden;
}

.article_content_titre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;

}

.article_content_titre h2{
  color:var(--color-dark-grey);
}
.article_content_titre h3{
  margin-bottom: 50px;
  text-align: left;
}

.h3_title::before{
  display: inline-block;
  margin-right: 15px;
  content: "";
  height: 4px !important;
  width: 30px !important;
  background-color:var(--color-dark-grey) !important;
}

.article_content_titre p{
  color: var(--color-grey-medium);
  margin-bottom: 40px;
}
.article_content_titre .btn{
  margin-bottom: 10px;
}

#article_content_photo {
  visibility: hidden;
}

.article_content_photo{
  width: 100%;
  display: flex;
  align-items: center;
  display: table;
  margin:auto 0;
}

.article_content_photo img{
 width: 100%;
 height: auto;

}
.article_content_photo {
  margin: auto 0;
}
.article_content_photo img{
  animation-duration: 2s;
  animation-direction: normal;
  animation-delay: 0.5s;
  animation-name: glissement-photo;
  opacity: 0;
  animation-fill-mode: forwards;
}
@keyframes glissement-photo {
  from {
    margin-left: 30%;
    opacity: 0%;
  }

  to {
    margin-left: 0%;
    opacity: 100%;
  }
}
@media(max-width:992px){
  .article_content_photo img{
      width: 100%;
      height: auto;
      /* margin-left: 10%;
      margin-right: 10%; */

     
   }
  .article_content_titre h3::before{
      display: none;
  
  }
  
  .article_content_titre{
      text-align: center;
      margin-bottom: 30px;
  }
  .article_content_titre h3{
      text-align: center;
  }
  .article_content_titre, .article_content_titre h3 {
    text-align: center;
  }
  .contact-content{
    flex-wrap: wrap;
    text-align: center;
  }
  .contact-text .filet, .contact-content .btn {
    margin-left: auto;
    margin-right: auto;
  }
  .contact-content .btn{
    margin-bottom: 30px;
  }
}


/* <!-- ----------------------------CV------------------------------ --> */


.cv{   
  padding-top: 140px;
  /* padding-bottom: 140px; */
  background: var(--color-violet);
  position: relative;
  height: auto;
  width: 100%;
}
.cv-content .filet{
  background: white;
}
.cv-content h2{
  color: white;
}
.cv-content{
  position: relative;
  padding-bottom: 140px;
}

.experience, .experience h3,.experience h4,.experience h5{
  color: white;
  text-align: left;

}
.experience .filet-fin{
  margin-bottom: 30px;
  background: white;
}
.experience{
  margin-bottom: 30px;
}

.experience h5{
  margin-bottom: 30px;
}
.experience h4{
  margin-bottom: 15px;
}

.experience-droite span{
  font-family: "Montserrat",sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: initial;

}



@media(min-width:1200px){
  .cv{   
      background-position: left top;
      background-repeat:no-repeat;
  }
  .timeline-fond{
      width: 3px;
      height: 4780px;
      position: absolute;
      background: white;
      top:0;
      left:50%;
  }
  .experience, .experience h3,.experience h4,.experience h5{
      width: 460px;
      height: auto;
  }
  .experience-droite .bulles-droite{
      width: 25px;
      height: 25px;
      background: var(--color-violet);
      border: 3px solid white;
      border-radius: 30px;
      position: absolute;
      left:-91px
  
  }
  .experience-gauche .bulles-gauche{
      width: 25px;
      height: 25px;
      background: var(--color-violet);
      border: 3px solid white;
      border-radius: 30px;
      position: absolute;
      left:526px
  }
  .experience-droite .filet-bulle-droite{
      width: 50px;
      height: 3px;
      background: white;
      position: absolute;
      left: -67px;
      top: 11px;
  } 
  .experience-gauche .filet-bulle-gauche{
      width: 50px;
      height: 3px;
      background: white;
      position: absolute;
      left: 478px;
      top: 11px;
  }
  .experience-gauche, .experience-gauche h3, .experience-gauche h4, .experience-gauche h5{
      text-align: right;
  }
  .experience-droite{
      margin-left: 635px;
      text-align-last: left;
      position: relative;
  }
  .experience-gauche{
      margin-left: 18px;
      position: relative;
  }
  .experience-droite .filet-fin{
      margin-left: 0;
  }
  .experience-gauche .filet-fin{
      margin-right: 0;
  }

}

@media(max-width:1200px){
  .experience-droite .filet-fin{
      margin-left: 0;
  }
  
  .experience-gauche .filet-fin{
      margin-left: 0;
  }
  .experience{
      margin-bottom: 50px;
  }
  .cv-content .filet{
      margin-bottom: 75px;
  }
  .cv-content{
      padding-left: 15px;
      padding-right: 15px;
  }
}
@media(max-width:576px){

}

@media(max-width:768px){
  
}
@media(max-width:992px){



}

/* <!-- ----------------------------PRESTATIONS------------------------------ --> */


.competences{
  width: 100%;
  background-position: center bottom;
  background-repeat:no-repeat;
  background-color: var(--color-grey);
  height: auto;
  padding-top: 106px;
  padding-bottom: 106px;
}

.card{
  height: 200px;
  background: white;
  box-shadow: 0px 0px 30px rgb(190, 190, 190);
  border-radius: 60px !important;
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.card div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
/* .card:hover{
  background: var(--color-violet);
  transition: 0.2s;
} */

.card img{
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
 
}
.image-neutre{
  fill:var(--color-violet);
}
/* Bouton actif  */


  /* .violet {
      background: var(--color-violet);
  }
  .violet .card{
      background: var(--color-violet);
  }
  .violet h3{
      color: rgb(255, 255, 255);
  }
  .violet svg{
      fill:rgb(255, 255, 255);
  }
  .violet .filet-fin{
      background: rgb(255, 255, 255);
  } */


/* Bouton survol survol */


/* .card:hover h3{
  color: white;
} */
.card:hover svg {
  fill:white;
}
/* .card:hover .filet-fin{
  background: white;
} */



.card .filet-fin{
  margin-top: 15px;
  width: 25px;
  height: 8px;
}
.card h3{
  font-size: 16px !important;
}
.cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;


}
.card svg{
  height: 40px;
  margin-bottom: 15px;
}

.img-neutre {
  margin: 0 auto;
  fill: var(--color-violet);
}


.competences .btn{
  margin-top: 50px;
}
.table td, .table th {
  padding: .1.3rem !important;
  vertical-align: middle !important;
  border-top: 1px solid #ebebeb !important;
}

.page-link {
  color: var(--color-violet) !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1px;
  font-weight: 300;
}
.page-item.active .page-link {
  color: white !important;
  background-color: var(--color-blue) !important;
  border-color: var(--color-blue) !important;
}
.page-item.disabled .page-link {
  color: var(--color-grey-medium)!important;
}
.page-link:hover {
  background-color: var(--color-violet) !important;
  border-color: var(--color-violet) !important;
  color:white !important;
}

@media(max-width:576px){

}

@media(max-width:768px){
  
}
@media(max-width:992px){
  .cards{
    display: flex;
    justify-content: center;
  }


}
 

/* <!-- ----------------------------PRESTATIONS DETAILS------------------------------ --> */

.details{
  background: var(--color-violet);
  padding-top: 106px;
  padding-bottom: 106px;
  display: none; 
}
.details-content{
  width: 70%;
  display: flex;
  flex-direction: column;
}
.details-content .filet{
  background: white;
}

.details-content .fa{
  margin-top: 20px;
  font-size: 4rem;
  color: white;
  align-self: flex-end;
  cursor: pointer;
  
}
.details-content h2{
  color: white;
}

.competences-details{
  display: flex;
  
}
.skills{
  color: white;
}
li{
  margin-bottom: 10px;
}
li span{
  font-weight: 600;
}

/* <!-- ----------------------------CONTACT------------------------------ --> */

.contact{
  background: var(--color-blue);
  position: relative;
  background-image:url("{{ asset('images/fond-contact.svg') }}");
  width: 100%;
  background-position: center bottom;
  background-repeat:no-repeat;
}
.contact-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.contact .filet{
  background: white;
  margin-bottom: 0;
}
.contact-text{
  margin: 30px 0;
}
.contact .btn{
  width: 300px;
  text-align: center;
}


@media(max-width:768px){
  .contact-content{
      padding-left: 15px;
      padding-right: 15px;
  }
  .contact-text{
    margin : 30px auto;
  }
}





/* <!-- ----------------------------Sroll to top------------------------------ --> */

.back-to-top .fa{
  width: 40px;
  height:40px;
  background: var(--color-footer);
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
  text-align: center;
  line-height: 40px;
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
  position: absolute;
  bottom: 2vh; right: 0;
  position: fixed;
}
.back-to-top .fa:hover{
  background: rgb(30, 30, 87);
}


  /* <!-- ----------------------------FOOTER------------------------------ --> */
  footer{
    width: 100%;
    height: auto;
    background: var(--color-footer);
    padding:15px 75px;
    display: flex !important;
    justify-content: space-between;
  }
  footer .menu li{
    align-self: center;
  }
  footer .menu a{
    text-decoration: none;
    margin-left: 20px;
    color: white;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 2px;
    opacity: 0.5;
  }
  
  footer .menu a:hover{
  border-bottom: 0;
  }
  .footer img{
    width: 50px;
  }
  
  @media (max-width:992px){
  
  }
  
  @media(min-width:768px){
  
    footer .menu a{
        font-size: 11px;
        letter-spacing: 1.5px;
        opacity: 0.5;
    }
  }
  
  @media (max-width:768px){
  
    .footer{
        padding:15px auto;
    }
    .footer img{
        margin-left: auto;
        margin-right: auto;
    }
    footer .menu a{
       display: none;
    }
  }
  
    /* <!-- ----------------------------BACK OFFICE------------------------------ --> */

    .back-actions{
      width: 100%;
      height: 278px;
      background: #000;
      overflow: hidden;
      position: relative;
      
    }
    .back-actions img{
      width: 100%;
      height: 278px;
      padding: 0;
    }
    figcaption{
      position: absolute;
      width: 100%;
      height: 278px; 
      background: var(--color-violet);
      opacity: .8;
      cursor: pointer;
    }
    .back-actions-infos{
      margin-top: 35%;
      display: flex;
      flex-direction: column;
    }
    .back-actions-infos h3{
      color: white;
      text-align: center;
    }
    .back-actions-infos .filet-fin{
      background-color: white;
    }
    .cover {
      object-fit: cover !important;
    }