<div class="mb-5">
    {{ form_start(form) }}
        <div class="form-new">
                {{ form_widget(form) }}
        </div>
        
        <button class="btn btn-primary btn-4 btn-4c icon-arrow-right">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}
</div>
