

{% block title %}Contact{% endblock %}

{% block body %}

<section id="contact"class="contact">
        <div class="container contact_content row">
            <div class="contact_content-titre col-lg-12 ">
                <h2 style="text-align: center;">CONTACT</h2>
                <div style="margin-left: auto; margin-right: auto"class="filet"></div>
                <div class="coordonnees">
                    <div class="telephone">
                        <img src="css/images/phone-call.svg" alt="">
                        <p>06 71 89 86 28</p>
                    </div>
                    <div class="adresse">
                        <img src="css/images/placeholder.svg" alt="">
                        <p>SAINT-MARTIN DU TOUCH
                        </br>TOULOUSE</p>
                    </div>
                </div>
                <div class="reseaux">
                    <h3>SUIVEZ-MOI</h3>
                    <ul class="reseaux-sociaux">
                            <li><a href="https://www.facebook.com/cleo.csn"target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/cleo__cook/?hl=fr"target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/cl%C3%A9o-cosnier-092b7668"target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <!-- <li><a href=""><i class="fa fa-behance"target="_blank"></i></a></li> -->
                            <li><a href="https://www.pinterest.fr/cleocosnier/"target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                        </ul>
                </div>

            </div>

            {{ form(contactForm) }}

            {# <div class="form-contact col-lg-8">

                <form class="form-name" action="" method="POST" enctype="multipart/form-data">
                    <input type="text" class="form-control" name="user_name" value="submit" placeholder="NOM*" required>
                        <br>
                    <input name="user_cie" class="form-control" type="text" placeholder="SOCIÉTÉ" /><br>
                        <br>
                    <input type="email" class="form-control" name="user_email"  placeholder="E-MAIL*" required /><br>
                    <br>
                    <input type="phone" class="form-control" name="user_"placeholder="TÉLÉPHONE*" required>
                    <textarea name="message" class="form-control message-form" placeholder="MESSAGE" ></textarea><br>
                    <input class='btn btn-secondary'type="submit" value="ENVOYER">
                </form>
            <div> #}
        </div>
    </section>

{% endblock %}
